*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(3, 68, 153);
}

.container{
    background-color: #ffe4e4;
    width: 80vw;
    height: 80vh;
    margin: 100px auto;
}

#box{
    background-color: green;
    color: white;
    outline: black;
    width: 100px;
    height: 100px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: 2s ease all;
}